.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  position: relative;
}

.leftContainer {
  background-color: rgb(225, 225, 225);
  padding: 4rem;
  padding-right: 5rem;
  width: 35vw;
}

.rightContainer {
  padding: 4rem;
  padding-left: 8rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.rightText {
  font-family: "Bungee", cursive;
  text-align: center;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
}


.image {
  position: absolute;
  top: -10rem;
  padding-left: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 1rem;
}


.logoImage {
  width: 5rem;
  opacity: 0.5;
}

.logoImage:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.logoImageActive {
  width: 5rem;
  transform: scale(1.1);
  opacity: 1;
}

.link:hover,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 992px) {
  .leftContainer {
    width: 70vw;
    padding: 2rem;
  }

  .rightContainer {
    margin: auto;
    margin-bottom: 10rem;
    padding: 2rem;
  }
}