.container {
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.brandsDropdown {
  display: flex;
  gap: 1rem;
}

.bold {
  text-align: center;
  font-weight: 800;
}

.item {
  color: white;
}

.cartIcon {
  z-index: 10;
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 3rem
}

.cartIcon:hover {
  cursor: pointer;
}