.sectionHeader {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

.brandsContainer {
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  animation: move 20s infinite;
}

.brandItem {
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(-50%);
  }

  66% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0%);
  }
}