.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subText {
  color: grey;
}