.sectionHeader {
  text-align: center;
  margin: 2rem;
  margin-top: 5rem;
  font-weight: 600;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}

.subSectionContainer {
  width: 40vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s 0.1s;
  transform: scale(1);
}

.subSectionContainer:hover {
  transition: transform 0.2s;
  transform: scale(0.9);
  cursor: pointer;
}

.subSectionHeader {
  position: absolute;
  font-family: 'Bungee', cursive;
  font-weight: 800;
}

.sectionImage {
  width: 100%;
  transition: all 0.4s;
  filter: brightness(100%);
}

.subSectionContainer:hover .sectionImage {
  transition: all 0.5s;
  transform: scale(1.1);
  filter: brightness(70%);
}

.subSectionContainer:hover .subSectionHeader {
  transition: all 0.4s;
  color: white;
}

@media screen and (max-width: 992px) {
  .sectionContainer {
    width: 70vw;
    margin: auto;
  }

  .subSectionContainer {
    width: 70vw;
  }
}